

* {
  transition: 0.3s;
}

body {
  background-image: url('../images/idk-cover.svg');
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #EAEAEA;
}

.main-heading {
  font-size: 50px;
}

.main-heading span {
  color: #FF4E4A;
}

.sub-heading {
  font-weight: 200;
}

.flex-container {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-around {
  justify-content: space-around;
}

.form-container {
  background-color: #F2F2F2;
  margin-top: 25px;
  padding: 20px;
  border-bottom: 4px solid #30FFEA;
}

.form-container h4 {
  margin-top: 0px;
}

.contact-form textarea {
  max-width: 100%;
  max-height: 100px;
}

.contact-form .form-group .form-control:focus {
  border-color: #30FFEA;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(48, 255, 234,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(48, 255, 234,.6);
}

.max-char {
  color: lightgray;
} 

.max-char.entry {
  color: #333;
} 

.danger {
  border-color: #f00;
}

.submit-btn {
  color: #007D87;
  text-decoration: none;
  padding: 0;
  border: 0px solid transparent;
}

.submit-btn:hover, .submit-btn:focus {
  border: 0px solid transparent;
  color: #007D87;
  text-decoration: none;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer--bg-color {
  background-color: #FF4E4A;
  max-height: 60px;
}

.footer_logo {
  max-height: 60px;
  max-width: 60px;
}

.flex-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}

.social-link {
  display: block;
  margin: 5px;
}

.flex-icons button {
  background-color: transparent;
  box-sizing: border-box;
  padding: 0;
  border-width: 0px;
  border-style: none;
  border-color: transparent;
  border-image: none;
}

.flex-icons button:focus {
  border: 0px solid transparent;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.social-color {
  color: #FF6F68;
}